<div id="myNav" class="overlay">

 
  <a id="closingX" href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>


  <div class="overlay-content">
    <a href="/#!/" onclick="closeNav()">Home</a>
    <a href="/#!/projects" onclick="closeNav()">Applications</a>
     <a id="gregborellyCV" href="assets/downloads/GregFullStackWebDeveloper.pdf" target="_blank">Download CV</a>

    <!--<a href="#" onclick="closeNav()">Blog</a>
    <a href="#" onclick="closeNav()">Contact</a>-->
  </div>

</div>

<!-- Use any element to open/show the overlay navigation menu -->

    
    <div class="navbar-fixed" >
    <nav class="black">
      <div class="nav-wrapper">
          <ul>

            <li> <a id="menuBtn" onclick="openNav()"> <i class=" large material-icons code" style="font-size: 4vh; color:darkorange; ">view_headline</i></a></li>
               
       
        
      </div>
    </nav>
  </div>
