body{
        background-color: #f7f7f7 !important;

    
}

li{
    float: left;
}
.project-title h1, h2, h3, h4{
    color: darkorange;
    font-size: 24px;
    
}

h4{
    font-size: 20px!important;
}

.container{
    margin-top: 10vh;
      margin-bottom: 10vh;
    color: black;
    border: solid 1px  #ccc;
    padding: 15px;
    background-color: white !important;
    overflow: hidden;
          
}


p{
    color: black;
    font-size: 19px;

    
}

#project-link a{
    color: black !important;
        font-size: 24px;

}

.project-img img {

        height: 20vw;
        border: solid 1px #ccc;

}

.project-detail-container{

    padding: 9vw;
}