    
        
    <div ng-include="'components/navbar/navbar.html'"></div>    
    <div  id="mainDiv" ng-init="initializeApp()">

    <div id="text-wrapper">

       <span style="font-weight: 500;">I'm Greg &<br> I'm a</span>  <div class="element" style="color: darkorange"> </div><br><span style="font-size: 5vh;"> currently working at<br> <span style="color: rebeccapurple">MyKlvr</span> </span> 

    </div>
  </div>


  <div class="section gray"  id="cross-platform-dev">
    <div class="row container">

      <div class="row">
        <div class="col s6">

          <img class="responsive-img" src="../assets/img/cross-platform.png" alt="">
        </div>
      <div class="col s6">
           <p class="flow-text" style="color: white;font-weight: 650;"> Advances in technology has made it possible to develop an application for multiple platforms, using the same source code. 
             This means you get to save money, and most importantly reduce the time it takes to take your ideas to the market.</p>

      </div>
      </div>
    </div>
  </div>

   <div class="parallax-container">
    <div class="parallax"><img src="../assets/img/mobile.jpg"></div>
  </div>
  

 <div class="section" id="menu-replacement">
    <div class="row container">
           <div class="col s3 m3 l30 menu-item">
                   <a href=""> <i class="material-icons" style="font-size: 15vw;">code</i> Code</a>

             
     
        </div>

     
           <div class="col s3 m3 l3  menu-item" >
              <a href=""> <i class="material-icons" style="font-size: 15vw;">perm_identity</i> Contact</a>
        </div>
      
       
           <div class="col s3 m3 l3  menu-item" >
             <a href=""> <i class="material-icons" style="font-size: 15vw;">web</i> Blog</a>
     
        </div>


       
      
      
      
    

        
      </div>
 </div>
   
 
  <div class="section angular">
    <div class="row container">
         <div class="row">
      
      <div class="col s7 m7 l7">
           <p class="flow-text" style="">AngularJS (commonly referred to as "Angular" or "Angular.js") is a complete JavaScript-based open-source front-end web application framework mainly maintained by Google and by a community of individuals and corporations to address many of the challenges encountered in developing single-page applications.</p>

      </div>

        <div class="col s5 m5 l5" >

          <img class="responsive-img" src="../assets/img/angular.png" alt="">
        </div>
      </div>
    </div>
   
  </div>


  
  <div class="section" id="ionic">
    <div class="row container">
         <div class="row">
        <div class="col s5" >

          <img class="responsive-img" src="../assets/img/ionic.png" alt="">
        </div>
      <div class="col s7">
           <p class="flow-text" style="color:#4E8EF7;font-weight: bold;">Ionic is a complete open-source SDK for hybrid mobile app development. 
             Built on top of AngularJS and Apache Cordova, Ionic provides tools and services for developing hybrid mobile apps using Web technologies like CSS, HTML5, and Sass.</p>

      </div>
      </div>
    </div>
  </div>



 <div class="section electron">
    <div class="row container">
         <div class="row">
           <div class="col s5 m5 l4" >

          <img class="responsive-img" src="../assets/img/electron.svg" alt="">
        </div>
      
      <div class="col s7">
           <p class="flow-text" style="">The Electron framework lets you write cross-platform desktop applications using JavaScript, HTML and CSS. It is based on Node.js and Chromium and is used by the Atom editor and many other apps.
</p>

      </div>

        
      </div>
    </div>
  </div>
  
 


 
 