 
    <div  id="mainDiv" ng-init="initializeApp()" >

    <div id="text-wrapper">

       <span style="font-weight: 500;">I'm Greg &<br> I'm a</span>  <div class="element" style="color: darkorange"> </div><br><span style="font-size: 5vh;"> currently working at<br> <span style="color: rebeccapurple">MyKlvr</span> </span> 

    </div>
  </div>


  <div class="section gray"  id="cross-platform-dev">
    <div class="row container">

      <div class="row">
        <div class="col s6">

          <img class="responsive-img" src="../assets/img/cross-platform.png" alt="">
        </div>
      <div class="col s6">
           <p class="flow-text" style="color: white;font-weight: 650;"> Advances in technology has made it possible to develop an application for multiple platforms, using the same source code. 
             This means you get to save money, and most importantly reduce the time it takes to take your ideas to the market.</p>

      </div>
      </div>
    </div>
  </div>

   <div class="parallax-container">
    <div class="parallax"><img src="../assets/img/mobile.jpg"></div>
  </div>
  




   
 
  
  <div ng-include="'components/projects/projects.html'"></div>


  <div class="section gray"  id="contact-me">
    <div class="row container">

      <div class="row">
        <div class="col m6 offset-m5">

            <button class="btn btn-large orange"><a href="https://goo.gl/forms/4fm6qIBYbclxNXiB3"> Contact Me</a></button>
      </div>
      </div>
    </div>
  </div>


  
         