

<div ng-controller="homeController"  ng-init="initializeApp()"> 
  
  <div  id="mainDiv" >

    <div id="text-wrapper">

       <span style="font-weight: 500;">I'm Greg &<br> I'm a</span>  <div class="element" style="color: #009688"> </div><br><span style="font-size: 5vh;"> currently working at<br> <span style="color: #009688">MyKlvr</span> </span> 

    </div>


    
  </div>


  <div class="section gray"  id="cross-platform-dev">
 





<div ng-include="'components/aboutme/aboutme.html'"></div>
  
<!-- <div ng-include="'components/projects/projects.html'"></div> -->
<!--<div ng-include="'components/contributions/contribution.html'"></div>-->
 <div ng-include="'components/footer/footer.html'"></div>    



  
         

  
</div> 
    