


#mainDiv{
    min-height: 400px;
    background-image: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8) ), url('../img/one.jpg');
    background-position:center top;
    background-repeat:no-repeat;
    background-size:100% 100%;
    background-color:#ccc; 
    min-height: 100vh;
    color: white;
    padding-top:0;
    margin-top: 0; 
    
}

.section{
    padding-top:0px !important; 
    padding-bottom: 0px !important;
}

#text-wrapper{
    padding-top: 20vh;
    padding-left: 10vh; 
    font-size: 6vh;
    
}

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

