
body{
font-family: 'Roboto', sans-serif;


}
#mainDiv{
    min-height: 400px;
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8) ), url('../img/one.jpg');
    background-position:center top;
    background-repeat:no-repeat;
    background-size:100% 100%;
    background-color:#ccc; 
    min-height: 100vh;
    color: white;
    padding-top:0;
    margin-top: 0; 
    
}


#text-wrapper{
    padding-top: 20vh;
    padding-left: 10vh; 
    font-size: 6vh;
    
}

#cross-platform-dev{
    overflow: hidden;
    background-color: #FF6A07 !important;
    
}



#cross-platform-dev img {
    width:50vh !important;
}


.text-div p{
    color: white !important;
    font-weight: 550;
}


#ionic{
    padding: 5vh;
    background: black;

}


#ionic img{

    margin-top: 5vh;

}

.code{
    -webkit-animation: color-change 2s infinite;
    -moz-animation: color-change 2s infinite;
    -o-animation: color-change 2s infinite;
    -ms-animation: color-change 2s infinite;
    animation: color-change 2s infinite;
}

@-webkit-keyframes color-change {
    0% { color: white; }
    50% { color: orangered; }
    100% { color: darkorange; }
}
@-moz-keyframes color-change {
  0% { color: white; }
    50% { color: orangered; }
    100% { color: darkorange; }
}
@-ms-keyframes color-change {
     0% { color: white; }
    50% { color: orangered; }
    100% { color: darkorange; }
}
@-o-keyframes color-change {
     0% { color: white; }
    50% { color: orangered; }
    100% { color: darkorange; }
}
@keyframes color-change {
   0% { color: white; }
    50% { color: orangered; }
    100% { color: darkorange; }
}



.angular{

    background: #E43137;
    color: white;
    font-weight: 700;
    width: 50vw;
}

.angular img{

    width: auto;
    max-height: 270px;

}
.electron{

    background-color: #7FC2C9;
    color: white;
    font-weight: 600;
}

.card{
    min-height: 55vh;
    min-width: auto;
  
   
}

.card:hover{
      box-shadow: 10px 10px 5px black;
}

#projects{

    background: #2F3242;
    padding: 5vh;
    
}

#projects h1{
    display: inline-block;
  
     color: orangered;
}
.element {
    
      color: white;
      display: inline;
}

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}


/*menu-replacement*/
#menu-replacement{

    min-height:50vh !important; 
    padding-top: 25vh;
    text-align: center;

}

/*Menu*/

#menuBtn{
  
}

/* The Overlay (background) */
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */    
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
    position: relative;
    top: 25%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

.overlay-content a:hover{
    color: darkorange !important;
}

/* The navigation links inside the overlay */
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
    color: darkorange;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}
