#aboutme img { 

    max-width: 250px;
    margin-top: 5vh;
     box-shadow: 15px 15px 5px #888888;
}

#aboutme {

    text-align: center;
    background: #f7f7f7 !important;
    padding-bottom:10px; 
  
}

#aboutme #tagLine {
    font-size: 20px;
}

#aboutme #quote{
    font-size: 30px;
    font-weight: 590;
    color: #2F3242;
    font-family: Helvetica, sans-serif !important;
    
}