
 
  <div id="aboutme">
    <div class="row container">
        <div class="container">

            

        </div>

      <div class="row" >
        <div class="col m6 offset-m3">

                       <img src="assets/img/mypic.jpg" alt="" class="responsive-img">
      </div>

      <div class="col m6 offset-m3">

                       <p id="tagLine"> <span style="color:#2F3242">Developer</span> | <span style="color:#2F3242">Expert in All Things Linux</span>  | <span style="color:#2F3242">Founder of GE Electronics </span> </p>
      </div>

      <div class="col m10 offset-m1">
            <p id="quote" >" I'm part of the Linux Foundation, and a supporter of Open Source projects. I derive my sense of purpose from solving problems and taking applications from idea to a MVP, to production, and so on."</p>
     
            <!--<blockquote class="twitter-tweet" data-lang="en"><p lang="und" dir="ltr"><a href="https://t.co/aYJlU62hFW">https://t.co/aYJlU62hFW</a></p>&mdash; Greg Borrelly (@__BackSlash_) <a href="https://twitter.com/__BackSlash_/status/860715905625591809">May 6, 2017</a></blockquote>-->
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
     
      </div>
      </div>
    </div>
  </div>