
 
  <div id="aboutme">
    <div class="row container">
        <div class="container">

            

        </div>

      <div class="row" >
        <div class="col m6 offset-m3">

                       <img src="assets/img/mypic.jpg" alt="" class="responsive-img">
      </div>

      <div class="col m6 offset-m3">

                       <p id="tagLine"> <span style="color:#2F3242">Developer</span> | <span style="color:#2F3242">Expert in All Things Linux</span>  | <span style="color:#2F3242">Founder of GE Electronics </span> </p>
      </div>

      <div class="col m10 offset-m1">
            <p id="quote" >" I'm all about creating things that matter. I'm part of the Linux Foundation, and a supporter of Open Source projects. I derive my sense of purpose from solving problems and taking applications from idea to a MVP, to production, and so on."</p>
      </div>
      </div>
    </div>
  </div>