<footer class="page-footer black">
  <div class="container">
    <div class="row">
      <div class="col s4 ">

      </div>




    </div>
  </div>


  <div class="footer-copyright">


    <div class="container" style="text-align:center;">
      <div class="row">
        <div class="col s3">
          <i class="fa fa-github" aria-hidden="true"></i>




        </div>

        <div class="col s3">
          <i class="fa fa-linkedin-square" aria-hidden="true"></i>





        </div>

        <div class="col s3">
          <i class="fa fa-angellist" aria-hidden="true"></i>

        </div>

         <div class="col s3">
         <i class="fa fa-phone" aria-hidden="true"></i>

        </div>

        



      </div>

      © 2014 Copyright Text

    </div>
  </div>
</footer>