
body{
font-family: 'Roboto', sans-serif;


}
#mainDiv{
    min-height: 400px;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8) ), url('../img/one.jpg');
    background-position:center top;
    min-height: 100vh;
    color: white;
    padding-top:0;
    margin-top: 0; 
    
}


#text-wrapper{
    padding-top: 20vh;
    padding-left: 10vh; 
    font-size: 6vh;
    
}

#cross-platform-dev{
    overflow: hidden;
    background-color: #FF6A07 !important;
    
}



#cross-platform-dev img {
    width:50vh !important;
}


.text-div p{
    color: white !important;
    font-weight: 550;
}


#ionic{
    padding: 5vh;
    background: black;

}


#ionic img{

    margin-top: 5vh;

}

.angular{

    background: #E43137;
    color: white;
    padding-top: 10vh;
    font-weight: 600;
}

.angular img{

    width: 90vh;
}
.electron{

    background-color: #7FC2C9;
    color: white;
    font-weight: 600;
}


.card:hover{
      box-shadow: 10px 10px 5px black;
}

#projects{

    background: #2F3242;
    padding: 5vh;
    
}

#projects h1{
    display: inline-block;
  
     color: orangered;
}
.element {
    
      color: white;
      display: inline;
}

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}


